  <style>

    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: -80px;
    }

    .form-container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 345px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form-container .imagen_arriba {
      max-width: 100%;
      height: 50px;
      margin: 0 auto; /* Centra la imagen horizontalmente */
    }

    h3 {
      text-align: center;
      color: rgb(10, 10, 87);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    label {
      font-weight: bold;
      color: rgb(10, 10, 87);
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 10px 0; /* 10px para el espacio arriba y abajo, 0 para los lados */
      border: none;
      outline: none;
    }

    .ab {
      background-color: rgb(25, 25, 43);
      color: white;
    }

    button {
      background-color: rgb(25, 25, 43);
      color: white;
    }

    a {
      text-decoration-line: none;
      color: rgb(28, 28, 67);
    }

    p {
      color: rgb(25, 25, 43);
      text-align: center;
    }

    .register-link,
    .login-link {
      margin-top: 10px;
    }


    input {
        height: 40px;
        font-size: small;
    }

  .input-group {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgb(25, 25, 43);
}

.input-icon {
 height: 20px;
}




  </style>
 

 <div class="container-fluid py-4">
  <div class="form-container">
    <img class="imagen_arriba" src="./assets/sesion.png" alt="Sesión"/>
    <form class="login-form" [formGroup]="inicioSesionForm" (ngSubmit)="iniciar()">
      <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;">login</h3>
      <div class="input-group">
        <img src="./assets/user.png" alt="Icono de correo electrónico" class="input-icon">
        <input style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;" type="text" id="email" formControlName="email" placeholder="Correo electronico" required>
      </div>
      <div class="input-group">
        <img src="./assets/candado.png" alt="Icono de contraseña" class="input-icon">
        <input style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;" type="password" id="password" formControlName="password" placeholder="Contraseña" required>
      </div>
      <button style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: white;font-size: small;" type="submit">Entrar</button>
      <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;" class="register-link">¿No tienes cuenta? <a style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;" routerLink="/cuenta" class="show-register">Regístrate</a></p>
    </form>
  </div>
</div>