.categoria {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .detalle-servicio {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    margin-top: 10px;
  }
  
  .detalle-servicio.visible {
    display: block;
  
  }


  .detalle-servicio::-webkit-scrollbar {
    display: none;
  }