<nav class="navbar navbar-expand-lg  fixed-top" style="top: 40px; background-color: transparent;" > <!-- Ajusta el valor de 'top' según la altura de la barra de navegación superior -->
  <div class="container">
    <!-- Contenido del submenú horizontal -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavbar" aria-controls="subNavbar" aria-expanded="false" aria-label="Toggle sub-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="subNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="./assets/contacto.png" height="20px" alt=""> Contactanos</a>
          <ul style="background-color: rgb(25, 25, 43);" class="dropdown-menu">
            <li *ngFor="let so of social"><a   style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small; color: white;" class="dropdown-item" target="_blank" routerLink="{{so.url}}">{{so.nombre}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  style="color: rgb(25, 25, 43);" data-bs-toggle="dropdown" href="#" role="button"  style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small;" aria-expanded="false"><img src="./assets/empresa.png" height="15px" alt="">Mis productos</a>
          <ul  style="background-color: rgb(25, 25, 43);" class="dropdown-menu">
            <li *ngFor="let p of productos"><a class="dropdown-item" target="_blank"  style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small;color: white" routerLink="{{p.url}}">{{p.nombre}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>  
  
  
  
  
  
  <div style="margin-top: 50px;" class="container-fluid py-4 d-flex justify-content-center align-items-center">
     <form>
       <div class="input-group mb-3" style="width: 500px">
       <input type="text" [(ngModel)]="cedula" [ngModelOptions]="{standalone: true}" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;" class="form-control" placeholder="Filtra por cedula" aria-label="Recipient's username" aria-describedby="basic-addon2">
           <button class="btn btn-outline-primary" style="background-color: rgb(25, 25, 43);" (click)="buscar()"  type="button">
             <img src="./assets/lupa.png" height="15px" alt="">
           </button>
       </div>
     </form>
   </div>

   <div class="table-responsive py-2" style="max-height: 400px; overflow-y: auto;">
     <table class="table table-striped">
         <thead>
             <tr>
                 <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; background-color: rgb(25, 25, 43);;color: white;">ID</th>
                 <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; background-color: rgb(25, 25, 43);;color: white;">Cedula</th>
                 <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; background-color: rgb(25, 25, 43);;color: white;">Nombres</th>
                 <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; background-color: rgb(25, 25, 43);;color: white;">Fecha de nacimiento</th>
                 <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; background-color: rgb(25, 25, 43);;color: white;">Nacionalidad</th>
                 <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; background-color: rgb(25, 25, 43);;color: white;;">Direccion</th>
             </tr>


         </thead>
         <tbody>
             <tr *ngFor="let es of personas | paginate: { itemsPerPage: 10, currentPage: p }">
                 <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; color: rgb(25, 25, 43); background-color: white;">{{index}}</td>
                 <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.cedula}}</td>
                 <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.persona}}</td>
                 <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.f_nacimiento}}</td>
                 <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.nacionalidad}}</td>
                 <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small; text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.direccion}}</td>
             </tr>
         </tbody>
     </table>
 </div>
 <div class="container-fluid py-2 d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: medium;" previousLabel="Anterior"  nextLabel="Siguiente"></pagination-controls>
 </div>
 